<html>
   <header id="home">
      <title>CD</title>
      <nav id="nav-wrap" style="display: block;" class="opaque">
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
         <ul id="nav" class="nav">
            <li><%= link_to "Home", staticpages_home_path %></li>
            <li><%= link_to "About", staticpages_about_path %></li>
            <li><%= link_to "Skills", staticpages_skills_path %></li>
            <li><%= link_to "Projects", staticpages_projects_path %></li>
            <li><%= link_to "Contact", staticpages_contacts_path %></li>
         </ul> <!-- end #nav -->
      </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">DIANE MALAZARTE.</h1>
            <h3><span>IT STUDENT</span></h3>
            <hr />
            <ul class="social">
               <%= link_to image_tag("facebook.png", alt: "Rails logo", class: "social-logo"),
             'https://www.facebook.com/chinn015' %>
               <%= link_to image_tag("twitter.png", alt: "Rails logo", class: "social-logo"),
                 'https://twitter.com/chinnsaw015' %>    
               <%= link_to image_tag("google.png", alt: "Rails logo", class: "social-logo"),
                  'https://plus.google.com/u/0/100990744150228435895' %>
               <%= link_to image_tag("github.png", alt: "Rails logo", class: "social-logo"),
                 'https://github.com/chinn015' %>
               
            </ul>
         </div>
      </div>
   </header> <!-- Header End -->

    <!-- Header Section
   ================================================== -->
 
</html>